<!DOCTYPE html>
<html>
    <head>
        <title>MyHaha - Home</title>

        <link rel="stylesheet" type="text/css" href="{{url_for ('static', filename='style.css')}}">
    </head>

    <body>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script>$('html, body').animate({scrollTop: $(document).height()}, 'fast');</script>
        <script>
            function addFriend(name) {
                window.location = "/addFriend/" + name;
                return(true);
            }
            function removeFriend(name) {
                window.location = "/removeFriend/" + name;
                return(true);
            }
        </script>
        {{ logged_in }}

        {{ dib }}

        <div class="friendsList">
            <h3>Friends:</h3>
            <br>
            {{ friends }}
        </div>
        <br>
        <br>
        <br>

        {{ da_form }}
        <!--<form action='/posted' method="POST"><textarea name="postContent" style="width:20%; height:20px;"></textarea><input type="submit" value="Post"></form>-->
    </body>
</html>