<!DOCTYPE html>
<html>
    <head>

        <title>MyHaha - Sign Up</title>


    </head>

    <body>
        <div>
            <p>MYHAHA - SIGN UP</p>
            <form action="/signed" method="POST">
                <textarea name="userField" style="width: 20%; height: 20px;">Username</textarea>
                <textarea name="passwField" style="width: 20%; height: 20px;">Password</textarea>
                <input type="submit" value="Sign Up">
            </form>

            <a href="/login">Login</a>

            {{ signup_failed }}
        </div>
    </body>
</html>