<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyHaha - Login</title>
        <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{{url_for ('static', filename='style.css')}}"/>
    </head>
    <body>
        <div id="Web_1920___1" class="Web_1920___1_Class">
            <div class="WELCOME_TO_MYHAHA_Class">
                <span>WELCOME TO MYHAHA</span>
            </div>
            <div class="please_log_in_Class">
                <span><i>sign up</i></span>
            </div>
            <form action="/signed" method="POST">
                <input name="userField" placeholder="Username" class="Rectangle_1 textBox">

                </input>
                <input type="password" name="passwField" placeholder="Password" class="Rectangle_2 textBox">
                </input>
                <input type="password" name="confirmPassw" placeholder="Confirm Password" class="Rectangle_4 textBox">
                </input>
                <input type="submit" value="login" class="Rectangle_5">

                </input>
            </form>
            <p class="sub"><i>Have an account? Log in <a href='/login'>here</a></i></p>

            {{ signup_failed }}
        </div>
    </body>
</html>
