<!DOCTYPE html>
<html>
    <head>

        <title>MyHaha - Sign Up</title>

    </head>

    <body>     
        <div>
            <p>MYHAHA - SIGN UP</p>
            <form action="/signed" method="POST">
                <input name="userField" style="width: 20%; height: 20px;" placeholder="Username"></input>
                <input type="password" name="passwField" style="width: 20%; height: 20px;" placeholder="Password"></textarea>
                <input type="password" name="confirmPassw" style="width: 20%; height: 20px;" placeholder="Confirm Password"></textarea>
                <input type="hidden" name="hide" id="hide">
                <input type="submit" value="Sign Up">
            </form>

            <a href="/login">Login</a>

            {{ signup_failed }}
        </div>
    </body>
</html>