@import url('https://fonts.googleapis.com/css?family=Comfortaa|Josefin+Sans|Roboto&display=swap');

.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920___1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920___1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

@media only screen and (min-width:1150px) {
	#Web_1920___1 {
		width: 100vw;
		height: 100vh;
	}
	#Web_1920___2 {
		width: 100vw;
		height: 100vh;
	}

	#imageLog {
		position: absolute;
		z-index: -3;
		width: 100vw;
		height: 100vh;
		background-image: url("path.png");
		background-repeat: no-repeat;
		background-size: 100% 80%;
	}
	#imageSign {
		position: absolute;
		z-index: -3;
		width: 100vw;
		height: 100vh;
		background-image: url("path.png");
		background-repeat: no-repeat;
		background-size: 100% 80%;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	.WELCOME_TO_MYHAHA_Class {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: 165px;
    overflow: visible;
    /* [disabled]white-space: nowrap; */
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 116px;
    color: #fff;
    text-shadow: -3px -3px 0 #000,
		3px -3px 0 #000,
		-3px 3px 0 #000,
		3px 3px 0 #000;
    width: 100%;
	}
	.please_log_in_Class {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: 370px;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(0,0,0,1);
    text-shadow: -1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
    margin-top: 80px;
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 182px;
		height: 45px;
		left: 50vw;
		transform: translateX(-50%);
		top: 540px;
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 182px;
		height: 45px;
		left: 50vw;
		transform: translateX(-50%);
		top: 620px;
	}
	.Rectangle_3 {
		position: absolute;
		overflow: visible;
		width: 128px;
		height: 45px;
		left: 50vw;
		transform: translateX(-50%);
		top: 700px;
	}
	.sub {
		position: absolute;
		overflow: visible;
		top: 850px;
		left: 50vw;
		transform: translateX(-50%);
	}
	.Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 182px;
		height: 45px;
		left: 50vw;
		transform: translateX(-50%);
		top: 700px;
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 128px;
		height: 45px;
		left: 50vw;
		transform: translateX(-50%);
		top: 780px;
	}
	.Path_2 {
		overflow: hidden;
		position: absolute;
		width: 3173.357px;
		height: 1016px;
		left: -209px;
		top: -185px;
		transform: matrix(1,0,0,1,0,0);
	}
	.textBox {
		padding: 3px;
		border: 1px solid #000;
	}
	.about-footer {
		width: 100vw;
		overflow: visible;
		position: absolute;
		height: 10vh;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		background-color: #000;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		color: #fff;
	}
	.post-area {
		position: absolute;
		overflow: visible;
		width: 45vw;
		height: 100vh;
		left: 50vw;
		transform: translateX(-50%);
		top: 0px;
		border-left: 5px solid #111;
		border-right: 5px solid #111;
		padding: 5px;
		background-color: #fff;
	}
	#forma {
		width: 100%;
		height: 80px;
		border: 2px solid #111;
		border-radius: 5px;	
		font-family: 'Roboto', sans-serif;

	}
	.postbutton {
		width: 100px;
		height: 50px;
		margin-left: 50%;
		margin-top: 50px;
		transform: translateX(-50%);
	}
	.Friends__Class {
		position: absolute;
		left: 38px;
		top: 176px;
		overflow: visible;
		width: 145px;
		white-space: nowrap;
		text-align: left;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	.Welcome_to_MyHaha__Class {
		position: absolute;
		left: 38px;
		top: 13px;
		overflow: visible;
		width: 211px;
		white-space: nowrap;
		text-align: left;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	.post {
		font-family: 'Comfortaa', cursive;
	}
	.friend {
		font-size: 20px;
	}
	.removeFriend {
		width: 80px;
		height: 40px;
	}

	.sub2 {
		position: absolute;
		overflow: visible;
		top: 900px;
		left: 50vw;
		transform: translateX(-50%);
	}
}
@media only screen and (min-width: 10px) and (max-width: 1150px) {
	#Web_1920___1 {
		width: 100vw;
		height: 100vh;
		background-color: #111;
	}
	#Web_1920___3 {
		width: 100vw;
		height: 100vh;
		background-color: #111;
	}
	.WELCOME_TO_MYHAHA_Class {
		position: absolute;
		left: 50vw;
		transform: translateX(-50%);
		top: 25px;
		overflow: visible;
		/* [disabled]white-space: nowrap; */
		text-align: center;
		font-family: 'Josefin Sans', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: #fff;
		text-shadow: -3px -3px 0 #000,
			3px -3px 0 #000,
			-3px 3px 0 #000,
			3px 3px 0 #000;
		width: 100%;
	}
	.please_log_in_Class {
		position: absolute;
		left: 50vw;
		transform: translateX(-50%);
		top: 80px;
		overflow: visible;
		white-space: nowrap;
		text-align: center;
		font-family: 'Josefin Sans', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(0,0,0,1);
		text-shadow: -1px -1px 0 #fff,
			1px -1px 0 #fff,
			-1px 1px 0 #fff,
			1px 1px 0 #fff;
		margin-top: 0px;
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 100vw;
		height: 40px;
		left: 50vw;
		transform: translateX(-50%);
		top: 130px;
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 100vw;
		height: 40px;
		left: 50vw;
		transform: translateX(-50%);
		top: 172px;
	}
	.Rectangle_3 {
		position: absolute;
		overflow: visible;
		width: 100vw;
		height: 60px;
		left: 50vw;
		transform: translateX(-50%);
		top: 220px;
	}
	.sub {
		position: absolute;
		overflow: visible;
		top: 300px;
		left: 50vw;
		transform: translateX(-50%);
		color: #fff;
	}
	.Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 100vw;
		height: 40px;
		left: 50vw;
		transform: translateX(-50%);
		top: 214px;
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 100vw;
		height: 60px;
		left: 50vw;
		transform: translateX(-50%);
		top: 268px;
	}
	.sub2 {
		position: absolute;
		overflow: visible;
		top: 340px;
		left: 50vw;
		transform: translateX(-50%);
		color: #fff;
	}
	#sub {
		position: absolute;
		overflow: visible;
		top: 340px;
		left: 50vw;
		transform: translateX(-50%);
		color: #fff;
	}
	#sub2 {
		position: absolute;
		overflow: visible;
		top: 380px;
		left: 50vw;
		transform: translateX(-50%);
		color: #fff;
	}
}
